h3,
h4,
h5 {
	color: #0088cc;
}

a {
	color: #0088cc;
}

a:hover {
	color: #0099e6;
}

a:active {
	color: #0077b3;
}

.alternative-font {
	color: #0088cc;
}

p.drop-caps:first-child:first-letter {
	color: #0088cc;
}

p.drop-caps.secundary:first-child:first-letter {
	background-color: #0088cc;
}

ul.nav-pills > li.active > a,
ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
	background-color: #0088cc;
}

div.sort-source-wrapper .nav > li.active > a,
div.sort-source-wrapper .nav > li.active > a:hover,
div.sort-source-wrapper .nav > li.active > a:focus {
	color: #0088cc;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #0088cc;
}

.btn-primary,
.pagination > .active > a {
	border-color: #0088cc;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-success,
.pagination > .active > a {
	border-color: #37c837;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #165016;
	background-image: -moz-linear-gradient(top, #37c837, #217821);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#37c837), to(#217821));
	background-image: -webkit-linear-gradient(top, #37c837, #217821);
	background-image: -o-linear-gradient(top, #37c837, #217821);
	background-image: linear-gradient(to bottom, #37c837, #217821);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37c837', endColorstr='#ff217821', GradientType=0);
	border-color: #217821 #217821 #165016;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-info,
.pagination > .active > a {
	border-color: #5fbcd3;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #216778;
	background-image: -moz-linear-gradient(top, #5fbcd3, #2c89a0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5fbcd3), to(#2c89a0));
	background-image: -webkit-linear-gradient(top, #5fbcd3, #2c89a0);
	background-image: -o-linear-gradient(top, #5fbcd3, #2c89a0);
	background-image: linear-gradient(to bottom, #5fbcd3, #2c89a0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5fbcd3', endColorstr='#ff2c89a0', GradientType=0);
	border-color: #2c89a0 #2c89a0 #216778;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.btn-warning,
.pagination > .active > a {
	border-color: #ff7f2a;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ff7f2a;
	background-image: -moz-linear-gradient(top, #ff7f2a, #d45500);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7f2a), to(#d45500));
	background-image: -webkit-linear-gradient(top, #ff7f2a, #d45500);
	background-image: -o-linear-gradient(top, #ff7f2a, #d45500);
	background-image: linear-gradient(to bottom, #ff7f2a, #d45500);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7f2a', endColorstr='#ffd45500', GradientType=0);
	border-color: #d45500 #d45500 #aa4400;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.btn-danger,
.pagination > .active > a {
	border-color: #ff2a2a;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ff0000;
	background-image: -moz-linear-gradient(top, #ff2a2a, #d40000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff2a2a), to(#d40000));
	background-image: -webkit-linear-gradient(top, #ff2a2a, #d40000);
	background-image: -o-linear-gradient(top, #ff2a2a, #d40000);
	background-image: linear-gradient(to bottom, #ff2a2a, #d40000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff2a2a', endColorstr='#ffd40000', GradientType=0);
	border-color: #d40000 #d40000 #800000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



.btn-primary:hover,
.pagination > .active > a:hover {
	border-color: #0044cc;
	background-color: #004ce6;
}

.btn-primary:active,
.pagination > .active > a:active,
.btn-primary:focus,
.pagination > .active > a:focus {
	border-color: #006699;
	background-color: #006699;
}

.progress-bar-primary {
	background-color: #0088cc;
}

body.boxed div.body {
	border-top-color: #0088cc;
}

section.highlight {
	background-color: #0088cc;
	border-color: #0077b3;
}

section.page-top h2 {
	border-bottom-color: #0088cc;
}

section.toggle label {
	color: #0088cc;
	border-left-color: #0088cc;
}

section.toggle.active > label {
	background-color: #0088cc;
	border-color: #0088cc;
	color: #FFF;
}

section.page-top.custom-product {
	background-color: #0077b3;
	border-top-color: #0081c2;
}

div.feature-box div.feature-box-icon {
	background-color: #0088cc;
}

ul.history li div.featured-box div.box-content {
	border-top-color: #0088cc;
}

div.feature-box.secundary div.feature-box-icon i.icon {
	color: #0088cc;
}

a.thumb-info span.thumb-info-type {
	background-color: #0088cc;
}

a.thumb-info span.thumb-info-action-icon {
	background-color: #0088cc;
}

.thumbnail span.zoom {
	background-color: #0088cc;
}

span.thumb-info-social-icons a {
	background-color: #0088cc;
}

.inverted {
	background-color: #0088cc;
}

div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
	color: #0088cc;
}

div.tabs ul.nav-tabs a:hover {
	border-top-color: #0088cc;
}

div.tabs ul.nav-tabs li.active a {
	border-top-color: #0088cc;
	color: #0088cc;
}

ul.list.icons li i {
	color: #0088cc;
}

i.icon-featured {
	background-color: #0088cc;
}

.parallax blockquote i.icon-quote-left {
	color: #0088cc;
}

header {
  /* Single Menu */
  /* Header Darken Top Border */
  /* Header Version 4 */
  /* Header Flat Menu */
  /* Mega Menu */;
}

header nav ul.nav-main ul.dropdown-menu,
header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a,
header nav ul.nav-main li > a:hover,
header nav ul.nav-main li.dropdown:hover a {
	color: #FFF;
	background-color: #0088cc !important;
}

header nav ul.nav-main ul.dropdown-menu li:hover > a {
	background-color: #00aaff !important;
}

header nav ul.nav-main ul.dropdown-menu {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

header nav ul.nav-main ul.dropdown-menu:hover {
	border-color: #0044cc;
	background-color: #004ce6;
}

header nav ul.nav-main ul.dropdown-menu:active,
header nav ul.nav-main ul.dropdown-menu:focus {
	border-color: #006699;
	background-color: #006699;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
	background: none !important;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
	background: #0099e6 !important;
}

header.single-menu nav ul.nav-main li.active > a {
	border-top: 5px solid #0088cc;
}

header.darken-top-border {
	border-top: 5px solid #0077b3;
}

header.colored div.header-top {
	background-color: #0088cc;
}

header.colored div.header-top ul.nav-top li a:hover {
	background-color: #0099e6 !important;
}

header.flat-menu nav ul.nav-main li > a,
header.flat-menu nav ul.nav-main li.active > a {
	color: #666;
}

header.flat-menu nav ul.nav-main li.active > a {
	color: #0088cc;
	background-color: transparent !important;
}

header.flat-menu nav ul.nav-main li > a:hover,
header.flat-menu nav ul.nav-main li.dropdown:hover a {
	color: #FFF;
	background-color: #0088cc !important;
}

header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
	border-top-color: #0088cc;
}

div.slider div.tp-bannertimer {
	background-color: #0088cc;
}

div.home-intro p em {
	color: #00aaff;
}

div.home-concept strong {
	color: #0088cc;
}

blockquote.testimonial {
	background: #0099e6;
}

div.testimonial-arrow-down {
	border-top-color: #0099e6;
}

div.recent-posts div.date span.month,
article.post div.post-date span.month {
	background-color: #0088cc;
}

div.recent-posts div.date span.day,
article.post div.post-date span.day {
	color: #0088cc;
}

div.featured-box-secundary i.icon-featured,
div.featured-box-secundary i.image-icon {
	background-color: #0088cc;
}

div.featured-box-secundary h4 {
	color: #0088cc;
}

div.featured-box-secundary div.box-content {
	border-top-color: #0088cc;
}

div.pricing-table div.most-popular {
	border-color: #0088cc;
}

div.pricing-table div.most-popular h3 {
	background-color: #0074ad;
	background-image: -moz-linear-gradient(top, #0088cc, #005580);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#005580));
	background-image: -webkit-linear-gradient(top, #0088cc, #005580);
	background-image: -o-linear-gradient(top, #0088cc, #005580);
	background-image: linear-gradient(to bottom, #0088cc, #005580);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff005580', GradientType=0);
}

section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
	background: #0088cc;
	box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #0088cc;
}

footer div.footer-ribon {
	background: #0088cc;
}

footer div.footer-ribon:before {
	border-right-color: #005580;
}