﻿/* Move down content because we have a fixed navbar that is 50px tall */
html,body {
    margin:0;
	padding:0;
	height:100%;
}


.wrapper{
    min-height:100%; 
    position:relative;
}

.header{
    padding:35px;
}

.content{
    padding-top:10px;
    padding-bottom:80px; 
    /*height:calc(100% - 160px);*/
}

.footer{
    width:100%; 
    height:60px; 
    position:absolute;
    bottom:0; left:0; 
    color:black;

}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    black-space: normal;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


/* Affect Learning CSS STARTS HERE  */

*{font-family:Open Sans;
  font-size:100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight:bold;
}


#menu ul{
  list-style: none; 
  margin-left:-40px;
  color:black;
}

#menu ul a:link {
    color:black;
}

#menu ul a:visited { 
     color:black;
}

#menu li{
  display: inline;
    color:black;
}

#menu li + li::before {
    content: " • ";
    padding: 0 6px;
    color: black; 
}


.full-body{
    height: 100%;
}

.half-body{
    height: 50%;
}

.height-100{
    height: 100%;
}

.full-container{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-left:30px;
    padding-right:30px;
    max-width:1400px;
}


.container{
    width:inherit;
    max-width:1400px;
}



